@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden; color: #222; }
/* section{padding: 20px 0;} */
.inner{width: 1350px;margin: 0 auto;}
img{width: 100%; height: 100%; display: block;}
.title{font-size: 35px; font-weight: 500; color: #222; padding: 40px 0 20px 0;}
.title-sub{font-size: 25px; color: #7c7c7c; font-weight: 500; padding-left:20px; position: relative; }
.title-sub::before{content: ""; display: block; width: 15px; height: 3px; background-color: #7c7c7c; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.wrap{width: 100%;}
header{border-bottom: 1px solid #d3d0d0; position: relative;}
.subbg{height: 250px; width: 100%; position: absolute; background: #f3f3f3; z-index: 1; top: 80px; display: none;}
.header-inner {height: 80px;}
.header-inner nav{height: 100%; position: relative; z-index: 5; }
.header-inner nav .dep01{display: flex; justify-content: center; height: 100%; height: 100%; align-items: center; }
.header-inner nav .dep01 > li{display: flex; flex-direction: column; align-items: center; height: 100%; justify-content: center; border-bottom:2px solid transparent;}
.header-inner nav .dep01 > li:hover{border-bottom: 2px solid #222;}
.header-inner nav .dep01 > li > a{font-size: 22px; font-weight: 500; padding: 0 30px; }
.header-inner nav .dep02{text-align: center; position: absolute; top: 80px; height: 250px; padding-top: 20px; box-sizing: border-box; display: none;}
.header-inner nav .dep02 li{text-align: center; padding: 10px 0;}
.header-inner nav .dep02 li a{font-size: 17px; color: #b2b2b2}
.header-inner nav .dep02 li a:hover{color: #222;}
.header-inner nav .dep02 li:last-child a{line-height: 25px;}



.my-infor{display: flex;align-items: center; justify-content: space-between;border-bottom: 2px solid #cbcaca;  padding: 40px 0 70px 0; height: 270px;}

.my-infor .my-img{ border: 1px solid #d3d0d0;}
.my-infor .my-img img{width: 200px;}
.my-infor .my-text{display: flex; flex-direction: column; height: 100%; justify-content: space-around; color: #5c5c5c;}
.my-infor .my-text .txt-top{line-height: 30px; font-size: 17px; letter-spacing: -1px; }
.my-infor .my-text .txt-bot{display: flex; font-size: 17px; flex-direction: column; gap: 15px; letter-spacing: -1px; }
.my-infor .my-text .txt-bot p{display: flex;}
.my-infor .my-text .txt-bot p span:first-child{display: block; width: 80px; }

.skill{width:35%; display: flex; flex-direction: column; gap: 15px; align-items: center;}
.skill h4{font-size: 20px; color: #5c5c5c; position: relative;}
.skill h4::before{content: ""; height: 2px; width: 10px; background-color: #5c5c5c; position: absolute; left: -20px; top: 50%; transform: translateY(-50%); display: block; }
.skill h4::after{content: ""; height: 2px; width: 10px; background-color: #5c5c5c; position: absolute; right: -20px; top: 50%; transform: translateY(-50%); display: block; }
.skill .skill-box ul{display: flex; gap: 20px; flex-wrap: wrap; }
.skill .skill-box ul li{ display: flex; flex-direction: column; gap: 12px; align-items: center; width: 30%;}
.skill .skill-box ul li span{font-size: 18px;}
.skill .skill-box ul li img{width: 90px; height: 90px;}

.project01 .tab{display: flex; gap: 25px; padding: 40px 0 0 20px;}
.project01 .tab div{ font-size: 25px; font-weight: 500; color: #c4c1c1; padding-bottom: 10px; position: relative; cursor: pointer;}
.project01 .tab div::after{content: ""; height: 2px; width: 0; display: block; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.project01 .tab div.active{color: #222; transition: all 1s;}
.project01 .tab div.active::after{width: 100%; background: #222; transition: all 0.8s;}
.project01 .renewal{border-bottom: 2px solid #cbcaca; padding: 20px 0 70px 0;}
.project01 .renewal > div{display: flex; align-items: center; gap: 50px; height: 450px;}
.project01 .renewal > div > img{width: 700px; border: 2px solid #f1f1f1; }
.project01 .renewal .site-info{display: flex; flex-direction: column; height: 100%; justify-content: space-around;}
.renewal .site-logo{width: 250px; height: 60px; display: block; }
.renewal .site-text {display: flex; flex-wrap: wrap; gap: 20px; width: 100%; font-weight: 400; font-size: 20px;}
.renewal .site-text dt{width: 30%; }
.renewal .site-text dd{width: 60%; }
.renewal .site-link{width: 100%;}
.renewal .site-link a{color: #60605f; display: inline-block; padding: 20px 40px; font-size: 16px; border: 1px solid #eee; text-align: center; position: relative; margin: 0 auto; font-weight: 500;}
.renewal .site-link a:after {position: absolute; content: "";  top: 0; left: 0; width: 0; height: 100%; background: #959393; transition: all .35s;}
.renewal .site-link a:hover:after{width: 100%;}
.renewal .site-link a:hover span{ color: #fff; position: relative; z-index: 2; transition: all 0.4s; }


.project02 .clone{display: flex; justify-content: center; gap: 50px; border-bottom: 2px solid #cbcaca;  padding: 40px 0 70px 0;}
.project02 .clone > div{border: 1px solid #ddd; overflow: hidden; background:#f1f1f1;position: relative;}
.project02 .clone > div img{width: 300px; height: 250px;}
.project02 .clone > div .site-text{display:flex; flex-direction: column; gap: 15px;  padding: 20px 0 20px 20px;}
.project02 .clone > div .site-text a:first-child{font-size: 21px; font-weight: 400;}
.project02 .clone > div .site-text a:nth-child(2){font-size: 18px; font-weight: 300; line-height: 24px;}
.project02 .clone > div .site-text p{display: flex; gap: 10px;}
.project02 .clone > div .site-text p span{font-size: 16px; font-weight: 400; color:#6a61e0}
.project02 .clone > div img{width: 300px; height: 250px;}
.project02 .clone > div:hover .more{opacity: 1; transition: all 0.5s;}
.project02 .clone > div .more{position: absolute; top: 0; left: 0; width: 300px; height: 250px; background:rgba(0, 0, 0, 0.5);display: flex !important; justify-content: center; align-items: center; opacity: 0;}
.project02 .clone > div .more a{display: block;  color: #fff; font-size: 22px; font-weight: 500; border: 1px solid #fff; padding: 15px 20px;}
.project02 .clone > div .more a:hover{    background: #c6f4c4; color: #6a6969; border: 1px solid transparent; transition: all 0.5s;}

.design{position: relative;}
.design-site{ width: 100%; height: 400px; padding: 40px 0 70px; display: flex; gap: 50px; align-items: center; }
.design-site > img{width: 700px; height: 400px; }
.design-site .site-info{display: flex; flex-direction: column; height: 100%; justify-content: space-around;}
.design-site .site-logo{width: 200px; height: 45px; display: block; }
.design-site .site-text {display: flex; flex-wrap: wrap; gap: 20px; width: 100%; font-weight: 400; font-size: 20px;}
.design-site .site-text dt{width: 30%; }
.design-site .site-text dd{width: 60%; }
.design-site .site-link{width: 100%;}
.design-site .site-link a{color: #60605f; display: inline-block; padding: 20px 40px; font-size: 16px; border: 1px solid #eee; text-align: center; position: relative; margin: 0 auto; font-weight: 500;}
.design-site .site-link a:after {position: absolute; content: "";  top: 0; left: 0; width: 0; height: 100%; background: #959393; transition: all .35s;}
.design-site .site-link a:hover:after{width: 100%;}
.design-site .site-link a:hover span{ color: #fff; position: relative; z-index: 2; transition: all 0.4s; }

.top{position: absolute; right: 100px; bottom: 50px; background: #e9e9e8; }
.top a{font-size: 18px; padding: 20px; display: block; color: #797979;}
.top:hover{background:#797979;}
.top:hover a{color:#e9e9e8;}

footer{border-top: 1px solid #d3d0d0;}
footer .foot-inner{text-align: center; padding: 15px 0;}
footer .foot-inner p{line-height: 30px; font-size: 16px;}